.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 600px;
  padding: 25px;
  text-align: center;
}

.inputIn {
  display: inline-flex;
  text-align: center;
}
.inputIn input {
  margin: 0 10px;
}

.btnAdd {
  padding: 5px 10px;
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: green;
  color: white;
}
.btnAdd:hover {
  transform: scale(1.3);
}
